@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,300;1,400&display=swap');

body {
    background: url('img/bg-site.png') center center no-repeat fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Cinzel', serif;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
}

.container {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    display: flex;
    width: 100vw;
    height: 100vh; 
}

main {
    /*
    background-color: #05a6f7b9;
    width: 700px;
    margin: auto;
    border-radius: 20px;
    min-height: 400px;
    */
    width: 500px;
    height: 400px;
    margin: 20px;
    background: rgba(255, 255, 255, 0.225);
    box-shadow: 0 8px 32px 0 rgba(2, 3, 13, 0.689);
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 20px;
    border: 1px solid rgb(255, 255, 255);
    opacity: 0.9;
    text-align: center;
    color: azure;
    min-width: 500px;
    min-height: 420px;
}

h1 {
    /*
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 40px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    text-shadow: 1px 1px 2px white;
    */
    font-size: 27pt;
    text-align: center;
    text-shadow: 0 0 5px  rgb(0, 0, 0);
    margin-top: 20px;
}

.bem-vindo{
    margin-bottom: 40px;
}

label {
    width:400px;
    padding: 5px;
    display: block;
    margin: auto;
    font-size: 20px;
    font-weight: 300;
    border-radius: 10px;
    outline: none;
    
}

input {
    /*
    font-size: 22px;
    float: right;
    margin-right: -5px;
    height: 40px;
    margin-top: -5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid black;
    */
    background-color: rgba(0, 0, 0, 0.325);
    border: 1px solid rgb(255, 255, 255);
    outline: none;
    width: 270px;
    height: 35px;
    margin-left: 33px;
    padding-left: 10px;
    border-radius: 20px;
    font-size: 13pt;
    color: azure;
    opacity: 0.9;

}

.senha{
    margin-left: -15px;
}

::-webkit-input-placeholder{
    color: azure;
    opacity: 0.6;
    padding-left: 10px;
}

span {
    margin-right: -20px;
    font-size: 12pt;
    text-align: right;
}

span#visivel{
    margin-top: 6px;
    float: right;
    left: 270px;
    cursor: pointer;
}

.centr{
    margin: -15px;
}

button[type = submit]#entrar, #postar, #voltar {
    background-color: white;
    width: 250px;
    height: 45px;
    outline: 0 none;
    border: 0 none;
    border-radius: 40px;
    font-size: 13pt;
    color: rgb(12, 8, 8);
    font-weight: 700;
    cursor: pointer;
}



button[type = submit]#entrar:hover{
    background-color: rgba(255, 255, 255, 0.325);
    border: 10px 10px 10px rgb(0, 0, 0);
    outline: auto;
    transition: 0.4s;
}

.btn-cadastro{
    width: 250px;
    height: 45px;
    padding: 12px;
    padding-left: 78px;
    padding-right: 78px;
    text-align: center;
    background-color: white;
    outline: 0 none;
    border: 0 none;
    border-radius: 40px;
    font-size: 13pt;
    color: rgb(12, 8, 8);
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}

.btn-cadastro:hover{
    background-color: rgba(255, 255, 255, 0.325);
    border: 10px 10px 10px rgb(0, 0, 0);
    outline: auto;
    transition: 0.4s;
}

.btn-cadastro:active{
    background-color: white;
    transition: 0s;
}
h5{
    text-align: center;
    font-weight: 100;
    font-size: 16px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

textarea{
    margin: 5px 0px 0px 20px;
    font-size: 17px;
}

button#postar{
    margin: -30px auto auto auto;
    float: right;
    transform: translate(-50%, 45px);
}

div.post{
    background-color: #082AFC;
    width: 450px;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.767);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.733);
    border-radius: 12px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.747);
}

div.post>h3{
    background-color: #08fcc7d3;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    padding: 8px;
}

input#titulo{
    float: left;
    width: 391px;
    margin: 10px 0px 10px 20px;
    border-radius: 0px;
    font-size: 17px;
}

p#dataPost{
    margin-left: 370px;
    font-size: 11px;
}

input#comentario{
    position: relative;
    float: none;
    margin: -15px 0px 20px 135px;
    width: 380px;
    height: 30px;
    top: -20px;
    border-radius: 0px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.705);
    font-size: 17px;
}

button#send{
    font-size: 30px;
    color: #082AFC;
    position: relative;
    top: -10px;
    cursor: pointer;
    border: 1px solid black;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.705);
}



.erro{
    margin-top: -20px;
    margin-bottom: 8px;
    color: rgba(248, 248, 248, 0.808);
    background-color: #6e0102;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    width: 170px;
    margin: auto;
    margin-top: -14px;
    margin-bottom: 4px;

}

.modalEsqueciSenha{
    display: block;
    position: absolute;
    height: 400px;
    width: 400px;
    background-color: #30016e;
    top: 0px;
    left: 50px;
    border-radius: 20px;
}

.modalEsqueciSenha.show{
    opacity: 1;
    transform: translate(0, -10%);
    transition: transform 1s, opacity 1s; 
}